/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins', sans-serif;

    background: #000 url('Imagens/LOGO_AMO_ESCURO.jpg') no-repeat center;
    background-size: 450px;

    backdrop-filter: blur(3px);
}

/* CONTAINER CENTRAL */
.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: inline-block;
    width: 100%;
    padding: 14px 20px;
    font-size: 25px;

    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;

    text-decoration: none;

    /* DESTAQUE REAL */
    text-shadow:
        0 4px 4px rgba(0,0,0,0.8),
        0 0 8px rgba(0,0,0,0.6);

    /* CARD */
    background: rgba(20, 20, 20, 0.6);
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.1);

    backdrop-filter: blur(6px);

    transition: all 0.25s ease;
}
/* HOVER */
.item:hover {
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.12);
}

/* ITEM DESTACADO */
.destaque {
    margin-top: 80px;

    background: rgba(255, 0, 0, 0.288);
    border: 1px solid rgba(255, 0, 120, 0.35);
}

.destaque:hover {
    background: rgba(255, 0, 120, 0.25);
}